<!-- <md-card>
    <md-card-title>Find a Book</md-card-title> 
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Search for contractors" [value]="query" (keyup)="search.emit($event.target.value)">
      </md-input-container>
      <md-spinner [class.show]="searching"></md-spinner>
    </md-card-content>
    <md-card-footer><span *ngIf="error">{{error}}</span></md-card-footer>
  </md-card> -->

  <div>
      <input  placeholder="Search for contractors" [value]="contactFilter.searchText"
              (keyup)="triggerFilter(contactFilter.searchText = $event.target.value)">
              Pending <input type="checkbox" [checked]="contactFilter.isPending" 
              (change)="contactFilter.isPending =!contactFilter.isPending; triggerFilter($event.target.value)" > 
  </div>