.example-h2 {
    margin: 10px;
  }
  
  .search-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .search-margin {
    margin: 0 10px;
  }
  