

<mat-table  [dataSource]="dataSource" matSort>
      
     
        <ng-container matColumnDef="id"  >
                <mat-header-cell *matHeaderCellDef> {{isCheckable ? 'Tick': 'Id'}}  </mat-header-cell>
                <mat-cell *matCellDef="let contact"> 
                                <mat-checkbox [hidden]="!isCheckable"  (change)="toggleInviteContact(contact.id, $event)" [checked]="false">

                                </mat-checkbox>
                                <span [hidden]="isCheckable">{{contact.id}}</span>
                </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="isPending">
                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{!contact.isPending}} </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="projectId">
                <mat-header-cell *matHeaderCellDef> ProjectId </mat-header-cell>
                <mat-cell *matCellDef="let contact"> {{contact.projectId}} </mat-cell>
        </ng-container> -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
        [length]="contactsDatabase.data.length"
        [pageIndex]="0"
        [pageSize]="defaultPageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"> 
</mat-paginator>
