.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.newContractorForm {
   
    display: inline-block;
    text-align: center;
}

.full-width {
    width: 100%;
}

.button-group {
    
    height: 50px;
    margin-top: 20px;
}
.mat-button-right {
    position: absolute;
    right: 0px;
    margin: 0;
  }
  
   .mat-button-left {
    position: absolute;
    left: 0px;
    margin: 0;
  }